

<%- include('header'); -%>


<section id="about" class="about" style="margin-top: 50px;">

  


<h2 class="other-page-heading" style="text-align: center;"> Hello <br> I'm Shishir Chaurasiya, </h2>

<p style="color: black; text-align: center;">
   I am currently learning Web Development and Designing. <br>
   Please <a href="/contact">Contact Me </a>if you have any suggestions. </p>

   

</section>
<%- include('footer'); -%>
