
<%- include('header'); -%>


<section   style="margin-top: 50px;">


<div id="contact" class="container">
   <form action="https://formsubmit.co/shishirchaurasiya435@gmail.com" method="post" class="contactForm">
      <h3>Get In Touch</h3>
      <input type="text" name="name" placeholder="Your Name" required>
      <input type="email" name="email" placeholder="Email id" required>
      <input type="text" name="phone" placeholder= "Phone no" required>
      <textarea type="text" name="message"  rows="4" placeholder="How Can I help you" required></textarea>
      <button type="submit" value="add" >Submit</button>

   </form>
</div>

<!-- <h2>Hello this is Contact page section</h2>
<h2 class="other-page-heading">Contact</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
   eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
     in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
 anim id est laborum.</p> -->
</section>

<%- include('footer'); -%>