</body>
<footer>
  <p>Copyright <span id="displayDate"></span>&copy;Shishir </p>
</footer>
</html>
<script type="text/javascript">var newDate = new Date(); newDate.setDate(newDate.getDate() + 1); document.getElementById('displayDate').innerHTML = newDate.getFullYear(); </script>