<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do list</title>
  <script src="https://kit.fontawesome.com/6f97017ff6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/contact.css">
</head>
<header>
  <nav>
    <h1><i class="fa-solid fa-clipboard-list"></i></h1>
      <div class="social-icons">
        <a href=""><i class="fa-brands fa-github"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </div>
    <div>
     <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/allList">All List</a></li>
      <li><a href="/about">About Me</a> </li>
      <li><a href="/contact">Contact Me</a></li>
     </ul>
    </div>
  </nav>
</header>
<body>

  