@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-bg1: #9890e3;
  --color-bg2: #b1f4cf;
  --color-box: #c4e0e0f4;
  --color-text: #000;
}

html {
  background-color: #e4e9fd;
  /* background-image: -webkit-linear-gradient(65deg,var(--color-bg1) 50%, var(--color-bg2) 50%); */
  background-image: linear-gradient(to left, #9890e3 0%, #b1f4cf 100%);
  min-height: 1000px;
  font-family: "helvetica neue";
}
header {
  color: #fff;
  text-decoration: none;
}
h1 {
  justify-content: center;
  padding: 1rem;
  font-size: 1.5rem;
}
h2 {
  color: var(--color-text);
  padding: 10px;
}
.main-heading {
  /* margin-top: 4.1rem; */
  padding: 0.3rem 0.1rem;
  font-size: 1rem;
}

.other-page-heading {
  color: var(--color-text);
}
nav {
  color: var(--color-text);
  padding: 0.2rem 1rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin-bottom: 2rem;
  height: 4rem;
  display: flex;
  background: var(--color-box);
  z-index: 2;
}
nav div {
  margin-left: auto;
}
nav div ul {
  float: right;
  display: flex;
  list-style: none;
}

nav i:hover, nav ul li a:hover{
  transform: scale(1.4);
  color: var(--color-bg1);
}
nav div ul li a {
  font-size: 1rem;
  padding: 1rem;
  color: var(--color-text);
  display: flex;
  align-items: end;
  text-decoration: none;
}
ul {
  padding-inline-start: 0;
}

nav .social-icons{
  background: transparent;
  font-size: 1.5rem;
  padding: 1rem;
  
}
nav .social-icons a{
  margin: 0 10px;
  color: var(--color-text);
}
.box {
  max-width: 400px;
  margin-top: 100px;
  margin-bottom: -50px;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-text);
  background: transparent;
  border-radius: 8px;

}

#heading {
  background-color: var(--color-bg1);
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-bg2);
}

.item:first-child:not(:checked) {
  border-radius: 8px;
  margin: 8px 0;
  border: 1px solid var(--color-text);
  background: var(--color-bg2);
}
.check-box {
  
  width: 20px;                         /* Set width */
  height: 20px;                        /* Set height */
  clip-path: circle(40% at 50% 50%);   /* Set the clip path of circle*/
}
.item p {
  color: var(--color-text);
  text-align: center;
}
.item:last-child {
  border-bottom: 0;
}

.box input:checked + p {
  text-decoration: line-through;
  text-decoration-color: var(--color-bg1);
}

.box input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #35557e;
}

.box form.item {
  text-align: center;
  margin-left: 20px;
}

.box button, .box2 button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  color: var(--color-text);
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

.box input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}
.box2 input[type="text"]{
  text-align: center;
  height: 40px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 200px;
}
.box input[type="text"]:focus, .box2 input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 var(--color-bg1);
}

 .box2{
  background: transparent;
  max-width: fit-content;
  margin: 2rem 1rem;
  border-radius: 10px;
  position: fixed;
  top: 2rem;
  right: 3rem;
  padding: 1rem 0.5rem;
  color: var(--color-text);
}
#newListBox .box2 input{
  max-width: fit-content;
  background: transparent;
  border-radius: 10;
  padding: 0.3rem;
}
#newListBox .box2 button{
  min-height: 20px;
  width: 20px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  color: var(--color-text);
  font-size: 25px;
  padding-bottom: 6px;
  border-width: 0;
}
.box3 {
  max-width: 400px;

  margin: 50px auto;
  background: var(--color-bg2);
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.box3 form a{
  text-decoration: none;
  font-size: 2rem;
}
.box3 form p{
  text-align: center;
  /* margin: 50px auto; */
}
.box3 form button{
  margin: 1rem ;
  font-size: medium;
  background: transparent;
  border: none;
}
::placeholder {
  color: grey;
  opacity: 1;
}

footer p{
  position: fixed;
  left: 0;
  bottom: -18px;
  width: 100%;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.new-list {
  display: none;
  transform: translate(-50%, -50%);
  transition: all 1.5 ease;
  max-width: fit-content;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--color-box);
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.new-list input {
  display: none;
}
.newListBitton {
  box-sizing: border-box;
}
.new-list:hover {
  width: 100%;
  cursor: pointer;
}
.new-list:hover input {
  display: block;
}
.new-list:hover .newListBitton {
  background: #07051a;
  color: white;
}


/* ======== About Section ======= */

section {
  margin-top: 50;
  
}

.about h2{
  align-items: center;
}
.about p a{
  text-decoration: none;
  align-items: center;
}
/* ======== Contact Section ======= */
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactForm {
  background: var(--color-bg2);
  display: flex;
  flex-direction: column;
  padding: 2vw 4wv;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  align-items: center;
}

.contactForm h3{
  padding: 20px;
  color: var(--color-text);
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 2rem;
}

.contactForm input, .contactForm textarea{
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: rgb(199, 231, 234);
  font-size: 1rem;
  border-radius: 10px;
  width: 80%;
}

.contactForm button{
  padding: 16px;
  background: #ff5361;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 20px;
  border-radius: 30px;
}

